/* Hero Section */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("/src/assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0; 
  padding: 0
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hero-content {
  width: 100%; 
  max-width: none; 
  text-align: center;
  color: #333;
  z-index: 2;
  position: relative;
  padding: 0 2rem; 
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
  letter-spacing: -0.07em;
  color: #555;
  text-shadow: #555 1px 1px 2px;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 5rem;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 800;
}

.btn-primary,
.btn-secondary {
  background-color: white;
  color: #e879a2;
  border: 2px solid #e879a2;
  padding: 0.8rem 1.5rem;
  border-radius: 35px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
  letter-spacing: -0.05em;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #575757;
  border-color: #575757;
}


.hero-info {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-info span {
  font-size: 2rem;
  background-color: #e879a2;
  color: hsl(338, 92%, 90%);
  text-shadow: #848383 1px 1px 2px;
  padding: 2rem 3.5rem;
  border-radius: 35px;
  font-weight: bold;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.25);
}


/* Media Queries */
@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }
}
