
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}
