* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */
:root {
  --navbar-height: 96px;
}

/* Body base */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.02em;
  background-color: #faf8f6;
  color: #333;
  line-height: 1.6;
  padding-top: var(--navbar-height);
}
