/* NavBar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 180, 0);
  padding: 10px 20px;
  color: white;
}

nav img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: none;
  color: rgb(255, 209, 102);
  transition: color 0.3s;
}
