.sobre-nosotros {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 4rem 2rem;
background: #fff0f3;
}

h2 {
font-size: 3.5rem;
font-weight: 800;
letter-spacing: -0.07em;
color: #555;
text-shadow: #555 1px 1px 2px;
line-height: 1;
}

.sobre-nosotros p {
margin-top: 1.5rem;
color: #555;
}